<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Home Page</title>
<script src = "../js/base.js"></script> <!-- jp import page-specific js file -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
body, html {
margin: 0;
height: 50%;
display: grid;
background: url('static/Maize_field.png');
background-size: cover;
}
main {
padding: 2%;
width: 80%;
text-align: justify;
text-justify: inter-word;
margin: auto;
background-color: rgba(0,0,0,0.5);
color: #FFF;
}
</style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
        <!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"  href="logo.png"><img src="{{url_for('static', filename='logo.png')}}" width="120" height="60" class="d-inline-block align-top" alt=""></a>
    <h3 style="text-align: left;">Maize Feature Store</h3>
</nav>
        <div class="horizontalgap" style="width:70px"></div>
  <!--<a class="navbar-brand" href="/features">Features And Analysis</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-brand" href="/features">Features and Analysis<span class="sr-only">(current)</span></a>
      </li>
      <!--<li class="nav-item active">-->
        <!--<a class="navbar-brand" href="/models">Models</a>-->
      <!--</li>-->
        <li class="nav-item dropdown">
        <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Models
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="/model_basic">Model Basic</a>
             <a class="dropdown-item" href="/model_advanced">Model Advanced</a>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/FAQ">FAQ</a>
          <a class="dropdown-item" href="/contactus">Contact</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/data_sources">Data Sources</a>
          <a class="dropdown-item" href="/tool_sources">Tools Sources</a>
        </div>
      </li>

    </ul>
      <input class="form-control mr-sm-2" id="search_box" onkeydown="check_key(event)" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick ="search_submit(document.getElementById('search_box').value)">Search</button>
  </div>
</nav>
    <main>
<h3 style="text-align: center;">Welcome to Maize Feature Store!</h3>
      <p>
      The Maize feature store is a centralized repository of updated, raw and transformed data for
        solving complex biological problems associated with the maize genome. Of the many biological problems , one of them
        are the classification problems such as genotype-to-phenotype classifiers, essential or non-essential gene classifier and
        many more that are based on some standard feature sets such as gene length, exon number, gene expression etc. <br>
        These standard feature sets are being used time and again to solve different biological problems and
      it takes a significant amount of time to extract these features  from raw data for example mapping gff files with
        genes of interest or extracting counts of exons per gene model. These process becomes tedious and repetitive if we
        are using the common set of features for solving other biological problems, so we thought why not produce a
        standardarized database to collect different types of features from a variety of sources and tools.<br>

        <h3>Therefore the Maize feature store aims at the following:</h3>

          <ol>
            <li>Aggregating and preprocessing multiple datasets from different databases and papers that can be
              handy for both bioinformaticians and wetlab researchers to solve their problem of interest .
</li>
            <li>Enable better models to be created faster with reusable features .</li>
            <li>Make model and feature governance possible for explainability and transparency .</li>
            <li>Combining features into training data .</li>
            <li>Provide labels (target biological problems that users try to predict) associated with the maize genome. </li>
            <li>Provide user interface to visualize the data and allow users to do custom exploratory analysis
              based on the features selected such as distribution graph to map the distribution of a feature(gene length)
              across the entire genome or GC-content window . </li>
            <li>Provide with pre-built machine learning models focusing on some of the target problems stored in the
            database.</li>

          </ol>



      </p>
</main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>