<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2 style=" text-align: center;">Souces Table</h2>

<table>
  <tr>
    <th>Maize B73v5 Data</th>
    <th>Sources</th>
  </tr>
  <tr>
    <td>GFF files and Fasta files</td>
    <td><a href = "https://download.maizegdb.org/Zm-B73-REFERENCE-NAM-5.0/" >https://download.maizegdb.org/Zm-B73-REFERENCE-NAM-5.0/</a></td>
  </tr>
  <tr>
    <td>VCF Files</td>
    <td><a href = "https://pubmed.ncbi.nlm.nih.gov/34353948/" >NAM-founder-SNPs</a></td>
  </tr>

  <tr>
    <td>G-quadruplexes</td>
      <td><a href = "https://community.maizegdb.org/sandbox/G4/B73/" >https://community.maizegdb.org/sandbox/G4/B73/</a></td>
  </tr>
  <tr>
    <td>Gene and Protein Expression datasets</td>
    <td><a href = "https://qteller.maizegdb.org/rna_data_sources.php" >https://qteller.maizegdb.org/rna_data_sources.php</a></td>
  </tr>
  <tr>
    <td>Histone Modification datasets</td>
    <td><a href = "https://www.nature.com/articles/s41477-019-0547-0" >Histone modification CHIP-seq data</a><br>
    <br><a href = "https://pubmed.ncbi.nlm.nih.gov/33016608/" >Histone Modification data from paper</a></br></td>
  </tr>
    <tr>
    <td>DNA Methylation datasets</td>
    <td><a href = "https://pubmed.ncbi.nlm.nih.gov/33016608/" >DNA Methylation data from paper</a></br></td>
  </tr>
    <tr>
    <td>ATAC seq datasets</td>
    <td><a href = "https://www.biorxiv.org/content/10.1101/730473v2" >ATAC-seq data from paper</a></br></td>
    </tr>
    <tr>
    <td>Transcription Factor Binding Sites datasets</td>
    <td><a href = "https://www.nature.com/articles/s41477-019-0547-0" >Ricci 2019 TFBS DAP-seq</a><br>
    <br><a href = "https://www.nature.com/articles/s41467-019-11774-w" >Bolduc 2012 knotted1 peaks</a></br>
    <br><a href = "http://genesdev.cshlp.org/content/26/15/1685.short" >Dong 2019 tb1 peaks</a></br></td>
    </tr>
    <tr>
    <td>Enhancer datasets</td>
    <td><a href = "https://genomebiology.biomedcentral.com/articles/10.1186/s13059-017-1273-4" >Oka 2017 enhancer binding</a></td>
  </tr>
    <tr>
    <td>Transcription Start Sites datasets</td>
    <td><a href = "https://academic.oup.com/plcell/article/27/12/3309/6096495" >B73v5 TSS</a></td>
  </tr>
    <tr>
    <td>miRNA datasets</td>
    <td><a href = "https://ftp.ncbi.nlm.nih.gov/genomes/all/annotation_releases/4577/103/GCF_902167145.1_Zm-B73-REFERENCE-NAM-5.0/" >B73v5 miRNA</a></td>
  </tr>
     <tr>
    <td>correlation datasets</td>
    <td><a href = "https://pubmed.ncbi.nlm.nih.gov/30537259/" >https://pubmed.ncbi.nlm.nih.gov/30537259/</a></td>
  </tr>
    <tr>
    <td>Insertion datasets</td>
    <td><a href = "http://www.acdsinsertions.org/" >http://www.acdsinsertions.org//</a><br>
    <br><a href = "https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0077172" >https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0077172</a></br></td>
  </tr>
  <tr>
    <td>Transposable Element datasets</td>
    <td><a href = "https://ftp.ncbi.nlm.nih.gov/genomes/all/annotation_releases/4577/103/GCF_902167145.1_Zm-B73-REFERENCE-NAM-5.0/" >Transposable Elements</a></td>
  </tr>
     <tr>
    <td>Pan-genome datasets</td>
    <td><a href = "https://pubmed.ncbi.nlm.nih.gov/34353948/" >https://pubmed.ncbi.nlm.nih.gov/34353948/</a></td>
  </tr>
     <tr>
    <td>Gene Origin datasets</td>
    <td><a href = "https://pubmed.ncbi.nlm.nih.gov/34353948/" >https://pubmed.ncbi.nlm.nih.gov/34353948/</a></td>
  </tr>
     <tr>
    <td>Classical Genes data</td>
    <td><a href = "https://www.maizegdb.org/associated_genes?type=classical&style=table" >https://www.maizegdb.org/associated_genes?type=classical&style=table</a></td>
  </tr>
</table>
 <p style=" text-align: center;"> <a href="/">Go Back</a> </p>

</body>
</html>

