<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2 style=" text-align: center;">Souces Table</h2>

<table>
  <tr>
    <th>Maize B73v5 Data</th>
    <th>Sources</th>
  </tr>
  <tr>
    <td>GFF files and Fasta files</td>
    <td><a href = "https://download.maizegdb.org/Zm-B73-REFERENCE-NAM-5.0/" >https://download.maizegdb.org/Zm-B73-REFERENCE-NAM-5.0/</a></td>
  </tr>
  <tr>
    <td>VCF Files</td>
    <td><a href = "https://datacommons.cyverse.org/browse/iplant/home/shared/NAM/NAM_genome_and_annotation_Jan2021_release/SUPPLEMENTAL_DATA/NAM-founder-SNPs" >NAM-founder-SNPs</a></td>
  </tr>

  <tr>
    <td>G-quadruplexes</td>
      <td><a href = "https://community.maizegdb.org/sandbox/G4/B73/" >https://community.maizegdb.org/sandbox/G4/B73/</a></td>
  </tr>
  <tr>
    <td>Gene and Protein Expression datasets</td>
    <td><a href = "https://qteller.maizegdb.org/rna_data_sources.php" >https://qteller.maizegdb.org/rna_data_sources.php</a></td>
  </tr>
  <tr>
    <td>Histone Modification datasets</td>
    <td><a href = "https://datacommons.cyverse.org/browse/iplant/home/maizegdb/maizegdb/B73v5_JBROWSE_AND_ANALYSES/B73v5_epigenetics_and_DNA_binding/Ricci_2019_atac_dapseq_chipseq_methylation/Ricci_2019_chipseq/Ricci_2019_chipseq_peakranger" >Ricci_2019_chipseq_peakranger</a><br>
    <br><a href = "https://www.biorxiv.org/content/10.1101/730473v2" >Histone_Modification_data_from_paper</a></br></td>
  </tr>
    <tr>
    <td>DNA Methylation datasets</td>
    <td><a href = "https://datacommons.cyverse.org/browse/iplant/home/maizegdb/maizegdb/B73v5_JBROWSE_AND_ANALYSES/B73v5_epigenetics_and_DNA_binding/Ricci_2019_atac_dapseq_chipseq_methylation/Ricci_2019_methylation" >Ricci_2019_methylation</a><br>
     <br><a href = "https://www.biorxiv.org/content/10.1101/730473v2" >DNA_Methylation_data_from_paper</a></br></td>
  </tr>
    <tr>
    <td>ATAC seq datasets</td>
    <td><a href = "https://datacommons.cyverse.org/browse/iplant/home/maizegdb/maizegdb/B73v5_JBROWSE_AND_ANALYSES/B73v5_epigenetics_and_DNA_binding/Ricci_2019_atac_dapseq_chipseq_methylation/Ricci_2019_atac/Ricci_2019_atac_macs2_peaks" >Ricci_2019_atac_macs2_peaks</a><br>
    <br><a href = "https://www.biorxiv.org/content/10.1101/730473v2" >ATAC_seq_data_from_paper</a></br></td>
    </tr>
    <tr>
    <td>Transcription Factor Binding Sites datasets</td>
    <td><a href = "https://datacommons.cyverse.org/browse/iplant/home/maizegdb/maizegdb/B73v5_JBROWSE_AND_ANALYSES/B73v5_epigenetics_and_DNA_binding/Ricci_2019_atac_dapseq_chipseq_methylation/Ricci_2019_dapseq/Ricci_2019_dapseq_peaks" >Ricci_2019_dapseq_peaks</a><br>
    <br><a href = "https://datacommons.cyverse.org/browse/iplant/home/maizegdb/maizegdb/B73v5_JBROWSE_AND_ANALYSES/B73v5_epigenetics_and_DNA_binding/Bolduc_2012_chipseq_knotted1/Bolduc_2012_knotted1_peaks" >Bolduc_2012_knotted1_peaks</a></br>
    <br><a href = "https://datacommons.cyverse.org/browse/iplant/home/maizegdb/maizegdb/B73v5_JBROWSE_AND_ANALYSES/B73v5_epigenetics_and_DNA_binding/Dong_2019_chipseq_tb1/Dong_2019_tb1_peaks" >Dong_2019_tb1_peaks</a></br></td>
    </tr>
    <tr>
    <td>Enhancer datasets</td>
    <td><a href = "https://datacommons.cyverse.org/browse/iplant/home/maizegdb/maizegdb/B73v5_JBROWSE_AND_ANALYSES/B73v5_epigenetics_and_DNA_binding/Oka_2017_enhancer_binding" >Oka_2017_enhancer_binding</a></td>
  </tr>
    <tr>
    <td>Transcription Start Sites datasets</td>
    <td><a href = "https://datacommons.cyverse.org/browse/iplant/home/maizegdb/maizegdb/B73v5_JBROWSE_AND_ANALYSES/B73v5_TSS/dTSS_AGPv5.tar.gz" >B73v5_TSS</a></td>
  </tr>
    <tr>
    <td>miRNA datasets</td>
    <td><a href = "https://datacommons.cyverse.org/browse/iplant/home/maizegdb/maizegdb/B73v5_JBROWSE_AND_ANALYSES/B73v5_TSS/dTSS_AGPv5.tar.gz" >B73v5_TSS</a></td>
  </tr>
     <tr>
    <td>correlation datasets</td>
    <td><a href = "https://onlinelibrary.wiley.com/doi/full/10.1111/tpj.14184" >https://onlinelibrary.wiley.com/doi/full/10.1111/tpj.14184</a></td>
  </tr>
    <tr>
    <td>Insertion datasets</td>
    <td><a href = "https://download.maizegdb.org/Insertions/" >https://download.maizegdb.org/Insertions/</a></td>
  </tr>
     <tr>
    <td>Pan-genome datasets</td>
    <td><a href = "https://datacommons.cyverse.org/browse/iplant/home/maizegdb/maizegdb/B73v5_JBROWSE_AND_ANALYSES/B73v5_TSS/dTSS_AGPv5.tar.gz" >B73v5_TSS</a></td>
  </tr>
     <tr>
    <td>Gene Origin datasets</td>
    <td><a href = "https://datacommons.cyverse.org/browse/iplant/home/maizegdb/maizegdb/B73v5_JBROWSE_AND_ANALYSES/B73v5_TSS/dTSS_AGPv5.tar.gz" >B73v5_TSS</a></td>
  </tr>
     <tr>
    <td>Classical Genes data</td>
    <td><a href = "https://www.maizegdb.org/associated_genes?type=classical&style=table" >https://www.maizegdb.org/associated_genes?type=classical&style=table</a></td>
  </tr>
</table>
 <p style=" text-align: center;"> <a href="/">Go Back</a> </p>

</body>
</html>

