<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div id="header" style="height:15%;width:100%;">
    <div style='float:left'>
        <img src="{{url_for('static', filename= user_image)}}" width="700" height="600" />
    </div>
    <div style='float:leftt'>
        <h2>Chromatin State Annotation in Leaf</h2>
        <table border="1" width=500" style="margin-left:30%;float:top;">
            <tr>
                <th>Chromatin States</th>
                <th>Histone Combination</th>
                <th>Annotation</th>
            </tr>
            <tr>
                <td>State 1 (E1)</td>
                <td>H3K27ac H3K4me3	H3K56ac	H3K9ac	H3K36me3</td>
                <td>EE Activation Promoter</td>
            </tr>
            <tr>
                <td>State 2 (E2)</td>
                <td>H3K56ac	H3K27ac	H3K4me3</td>
                <td>EE Activation Genebodies</td>
              </tr>
            <tr>
                <td>State 3 (E3)</td>
                <td>H3K27ac</td>
                <td>EE H3K27ac Activation</td>
              </tr>
            <tr>
                <td>State 4 (E4)</td>
                <td>H3K27ac	H2AZ H3K4me1 H3K56ac</td>
                <td>EE Activation enhancer promoter</td>
              </tr>
            <tr>
                <td>State 5 (E5)</td>
                <td>H3K56ac	H3K27ac	H3K4me3</td>
                <td>EE Activation enhancer</td>
              </tr>
            <tr>
                <td>State 6 (E6)</td>
                <td>H2AZ H3K4me1</td>
                <td>EE Repression</td>
              </tr>
            <tr>
                <td>State 7 (E7)</td>
                <td>   </td>
                <td>EE Low signal</td>
              </tr>
            <tr>
                <td>State 8 (E8)</td>
                <td>H3K36me3 H3K4me1</td>
                <td>EE Activation Genebodies</td>
              </tr>
            <tr>
                <td>State 9 (E9)</td>
                <td>H3K4me1	H3K36me3</td>
                <td>EE Activation Genebodies</td>
              </tr>
            <tr>
                <td>State 10 (E10)</td>
                <td>H3K4me1</td>
                <td>EE H3K4me1 Activation Enhancer</td>
              </tr>
            <tr>
                <td>State 11 (E11)</td>
                <td>H3 H3K27ac</td>
                <td>EE H3Activation enhancer promoter</td>
              </tr>

        </table>
    </div>
</div>

</body>
</html>