<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
      <!--add icon link -->
      <script src = "../js/model_basic.js"></script> <!-- jp import page-specific js file -->
     <link rel = "icon" type = "image/x-icon" href ="static/forecast_logo.png">
    <title>Gene Prediction Model</title>
    <style>
      div {
        background-image: url('static/bg1.png');
      }
      </style>
  </head>

  <body>
    <div class="container_main">
      <div class="sub_container" id="holder">
          <table>
            <tr><td><IMG SRC="static/forecast_logo.png" ALT="tries" WIDTH=120 HEIGHT=60 style="margin-right: 60px;"></td>
            <td><center><h1 class='main_heading' >Core Gene Prediction Model </h1></center></td>
            <td><right><a href="/"><h1 style="margin-left: 80px;margin-top: 0px !important;">Home</h1> </a></right></td>
          </tr>
        </table>
        <hr style="height:3px;border-width:0;color:gray;background-color:gray">
        <p>Random Forest model is developed based on top 25 sequence features and gene structural features that classify whether the Gene is Core or Non-Core.
          For classifying the Genes, users are requested to submit their data in the form as per the value range
          provided in the input placeholder or autofill the required protein and DNA sequence feature by entering the protein
          and the coding sequence in the input boxes.
        <b>[Note: For predicted value, please check the footer of the table.]</b></p>
        <br>
        <p style="margin-left: 150px;">Enter your protein sequence for generating protein sequence features (<a href="#!" onclick="example_protseq(document.getElementById('projectFilepath'));" style="color: blue; text-decoration: underline">example</a>): </p>
        <form  action="{{ url_for('handle_data') }}" method="post">
            <!--<input style=" margin: auto;display: block;" type="text" name="projectFilepath">-->
            <!--<input type="submit"></p>-->
          <!--<input type="submit"value="Submit" style="float: right;width: 150px;height: 40px;margin-top: 25px;margin-right: 20px;" />-->
           <div style="overflow: hidden;">
           <div id="prot_seq_error" style="display: none; color: crimson;">*Error: Invalid protein sequence. The character '<span style="font-weight:bold; white-space:nowrap;" id="prot_char_error"></span>' is not a valid character in AA sequence!</div>
           <center>
               <textarea name="projectFilepath" rows="10" cols="75" id="projectFilepath" style='font-family: monospace' onchange="validate_sequence(this,'prot');" onkeyup="validate_sequence(this,'prot');"></textarea>
            </center>
           </div>
          <p style="margin-left: 150px; ;margin-top: 25px">Enter your Coding sequence for generating DNA sequence features (<a href="#!" onclick="example_dnaseq(document.getElementById('DNAcoding'));" style="color: blue; text-decoration: underline">example</a>): </p>
           <div style="overflow: hidden;">
           <div id="dna_seq_error" style="display: none; color: crimson;">
                *Error: Invalid DNA sequence. The character '<span style="font-weight:bold; white-space:nowrap;" id="dna_char_error"></span>' is not a valid character in DNA sequence!
            </div>
           <center><textarea rows="10" cols="75" name="DNAcoding" id="DNAcoding" onchange="validate_sequence(this,'dna');" onkeyup="validate_sequence(this,'dna');"  style='font-family: monospace'></textarea></center>
           </div>
          <input type="submit" id="seq_submit" style="width: 200px;height: 40px;margin-top: 25px;margin-left: 350px;"></p>
        </form>
        </form>
        <table class="t1">
        <form class="form-horizontal" action="{{ url_for('predict_basic')}}" method="post">
          <div class="form-group">
            <div class="col-sm-10">
                <thead>
                  <tr><th colspan="2"><b><h4>Submission Form </h4></b></th></tr>
                </thead>
                <tfoot>
                  <tr><th colspan="2"><center><b><h4>{{ prediction_text}}</h4></b></center></th></tr>
                </tfoot>
                 <tr><td><label for = "UTR3length">3 Prime UTR Length :</label></td>
                  <td>
                    <span>
                      <input  class="form-control" onchange="validate_range(this, 2);" type= "number"   step="any" name="UTR3length" placeholder="Value range: 0.00 - 8154.00" required="required" />
                    </span>
                </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "isoforms">Isoforms Count :</label></td>
            <td>
          <span><input onchange="validate_range(this, 2);" class="form-control" type="number" name="isoforms"   step="any" placeholder="Value range: 1.00 - 26.00" required="required" /></span>
          </td></tr>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "UTR5length">5 prime UTR length:</label></td>
            <td>
          <span>
          <input onchange="validate_range(this, 2);" class="form-control" type="number" name="UTR5length"   step="any" placeholder="Value range: 0.00 - 4011.00" required="required" />
        </span>
      </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
        <tr><td><label for = "distance">Chromosomal distance:</label></td>
          <td>
          <span>
          <input onchange="validate_range(this, 2);" class="form-control" type="number" name="distance"  step="any" placeholder="Value range: -154163712.00 - 154114400.00" required="required" />
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "CTDD_prop7_G3_residue0">CTDD prop7 G3 residue0 :</label></td>
          <td>
          <span>
          <input  onchange="validate_range(this, 3);" class="form-control" type="number" name="CTDD_prop7_G3_residue0"   step="any" placeholder="Value range: 0.018 - 24.41" required="required" value="{{CTDD_prop7_G3_residue0}}" />
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "PseDNC_Xc1_AT">PseDNC Xc1 AT :</label></td>
            <td>
          <span>
          <input  onchange="validate_range(this, 3);" class="form-control" type="number" name="PseDNC_Xc1_AT"   step="any" placeholder="Value range: 0.00 - 0.117" required="required" value="{{PseDNC_Xc1_AT}}" />
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "CTDD_prop1_G2_residue0">CTDD prop1 G2 residue0 :</label></td>
            <td>
          <span>
          <input onchange="validate_range(this, 4);" class="form-control" type="number" name="CTDD_prop1_G2_residue0"   step="any" placeholder="Value range: 0.0368 - 29.629" required="required" value="{{CTDD_prop1_G2_residue0}}" />
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "PseKNC_3_Xc1_ACG">PseKNC 3 Xc1 ACG :</label></td>
          <td>
          <span>
          <input onchange="validate_range(this, 3);" class="form-control" type="number" name="PseKNC_3_Xc1_ACG"   step="any" placeholder="Value range: 0.00 - 0.02" required="required"  value="{{PseKNC_3_Xc1_ACG}}"/>
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "avgExonLength">Average Exon Length :</label></td>
            <td>
          <span>
          <input onchange="validate_range(this, 2);" class="form-control" type="number" name="avgExonLength"   step="any" placeholder="Value range: 0.00 - 6414.00" required="required" />
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "TC_SAL">Tri Codon SAL :</label></td>
            <td>
          <span>
          <input onchange="validate_range(this, 3);" class="form-control" type="number" name="TC_SAL" placeholder="Value range: 0.00 - 0.022"   step="any" size="5" required="required" value="{{TC_SAL}}"/>
          </span>
        </td></tr>
        </div>
      </div>

            <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "PseDNC_Xc1_GG">PseDNC Xc1 GG :</label></td>
            <td>
          <span><input onchange="validate_range(this, 3);"   step="any" class="form-control" type="number" name="PseDNC_Xc1_GG" placeholder="Value range: 0.00 - 0.236" required="required"  value="{{PseDNC_Xc1_GG}}"/></span>
          </td></tr>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "PseKNC_3_Xc1_TAG">PseKNC 3 Xc1 TAG :</label></td>
            <td>
          <span>
          <input onchange="validate_range(this, 4);"   step="any" class="form-control" type="number" name="PseKNC_3_Xc1_TAG" placeholder="Value range: 0.00 - 0.009" required="required" value="{{PseKNC_3_Xc1_TAG}}" />
        </span>
      </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
        <tr><td><label for = "CTDD_prop5_G2_residue0">CTDD prop5 G2 residue0 :</label></td>
          <td>
          <span>
          <input onchange="validate_range(this, 4);" class="form-control" type="number" name="CTDD_prop5_G2_residue0"   step="any" placeholder="Value range: 0.0184 - 3.636" required="required" value="{{CTDD_prop5_G2_residue0}}"/>
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "TC_PAP">Tri Codon PAP:</label></td>
          <td>
          <span>
          <input onchange="validate_range(this, 4);" class="form-control" type="number" name="TC_PAP" placeholder="Value range: 0.00 - 0.0735"   step="any" required="required" value="{{TC_PAP}}" />
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "mRNAlength">Canonical mRNA Length :</label></td>
            <td>
          <span>
          <input onchange="validate_range(this, 2);" class="form-control" type="number" name="mRNAlength"   step="any" placeholder="Value range: 213.00 - 299070.00" required="required" />
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "CTDD_prop2_G3_residue0">CTDD prop2 G3 residue0 :</label></td>
            <td>
          <span>
          <input onchange="validate_range(this, 4);" class="form-control" type="number" name="CTDD_prop2_G3_residue0"   step="any" placeholder="Value range: 0.0184 - 30.00" required="required" value="{{CTDD_prop2_G3_residue0}}" />
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "TC_LPL">Tri Codon LPL :</label></td>
          <td>
          <span>
          <input onchange="validate_range(this, 4);"   step="any" class="form-control" type="number" name="TC_LPL" placeholder="Value range: 0.00 - 0.0328" required="required" value="{{TC_LPL}}"/>
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "TC_RSA">Tri Codon RSA :</label></td>
            <td>
          <span>
          <input onchange="validate_range(this, 3);"   step="any" class="form-control" type="number" name="TC_RSA" placeholder="Value range: 0.00 - 0.038" required="required" value="{{TC_RSA}}"/>
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "PAAC_Xc1_A">PAAC Xc1 A :</label></td>
            <td>
          <span>
          <input onchange="validate_range(this, 4);"   step="any" class="form-control" type="number" name="PAAC_Xc1_A" placeholder="Value range: 0.00 - 0.0425" size="5" required="required" value="{{PAAC_Xc1_A}}"/>
          </span>
        </td></tr>
        </div>
      </div>
            <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "CTriad_VS111">CTriad VS111 :</label></td>
            <td>
          <span>
          <input onchange="validate_range(this, 2);" class="form-control" type="number" name="CTriad_VS111"   step="any" placeholder="Value range: 0.00 - 1.00" required="required" value="{{CTriad_VS111}}"/>
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "CTDD_prop7_G1_residue0">CTDD prop7 G1 residue0 :</label></td>
            <td>
          <span>
          <input onchange="validate_range(this, 4);"   step="any" class="form-control" type="number" name="CTDD_prop7_G1_residue0" placeholder="Value range: 0.0394 - 21.83" required="required" value="{{CTDD_prop7_G1_residue0}}" />
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "PAAC_Xc1_P">PAAC Xc1 P :</label></td>
          <td>
          <span>
          <input onchange="validate_range(this, 2);"   step="any" class="form-control" type="number" name="PAAC_Xc1_P" placeholder="Value range: 0.00 - 163.68" required="required" value="{{PAAC_Xc1_P}}" />
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "TC_VVA">Tri Codon VVA :</label></td>
            <td>
          <span>
          <input  onchange="validate_range(this, 4);"   step="any" class="form-control" type="number" name="TC_VVA" placeholder="Value range: 0.00 - 0.0307" size="5" required="required" value="{{TC_VVA}}"/>
          </span>
        </td></tr>
        </div>
      </div>

            <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "PseKNC_3_Xc1_TGT">PseKNC 3 Xc1 TGT :</label></td>
            <td>
          <span>
          <input onchange="validate_range(this, 3);"   step="any" class="form-control" type="number" name="PseKNC_3_Xc1_TGT" placeholder="Value range: 0.00 - 0.021" size="5" required="required"  value="{{PseKNC_3_Xc1_TGT}}"/>
          </span>
        </td></tr>
        </div>
      </div>

            <div class="form-group">
        <div class="col-sm-10">
          <tr><td><label for = "TC_ARG">Tri Codon ARG :</label></td>
            <td>
          <span>
          <input onchange="validate_range(this, 4);"   step="any" class="form-control" type="number" name="TC_ARG" placeholder="Value range: 0.00 - 0.0296" size="5" required="required" value="{{TC_ARG}}"/>
          </span>
        </td></tr>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
         <tr><td colspan="2"><button type="submit" class="btnsub">PREDICT</button></td></tr>
        </div>
      </div>
    </form>
    <h2 class="result"></h2>
              </table>
  </div>
  </div>
  </body>
</html>